* {
    font-family: 'Impacto', Impact, sans-serif;
  }

@font-face {
    font-family: 'Impact', 'Charcoal', sans-serif, 'Tahoma', 'Helvetica', sans-serif!important;
    src: url('../../fonts/Impact.eot');
    src: url('../../fonts/Impact.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Impact.woff') format('woff'),
    url('../../fonts/Impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../../fonts/Roboto-Regular.eot');
    src: url('../../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Roboto-Regular.woff') format('woff'),
    url('../../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Museo Sans 500 Medium';
    src: url('../../fonts/MuseoSansCyrl-500.eot');
    src: url('../../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/MuseoSansCyrl-500.woff') format('woff'),
    url('../../fonts/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }