@import 'libs/bootstrap-reboot.min';

@import 'base/variables';
@import 'base/fonts';
@import 'base/mixins';
@import 'base/_media.sass';

  body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    }

.social-widget{
    margin: 10% 0 0 -9px;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 3;
    &__link{
        padding: 5px;
        img{
            max-width: 50px;
        }
        transition: 0.6s all;
        filter:drop-shadow(1px 1px 0px #000);
        &:hover{
            filter:drop-shadow(1px 1px 2px $main-color);
        }
    }
}

.container {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}


.title_fz14{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.title_fz16{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.title_fz36{
    font-family: 'Oswald';
    font-size: 36px;
    line-height: 21px;
    color: #000000;
}

.title_fz65{
    font-family: 'Oswald';
    font-size: 65px;
    line-height: 76px;
    color: #000000;
}

.subtitle{
    position: relative;
    @include before_circle;
    z-index: 2;
}

.button{
    width: 300px;
    height: 55px;
    background: $button-color;
    border: none;
    border-radius: 10px;
    font-family: 'MuseoSansCyrl', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.6s all;

    &:hover{
        filter: brightness(105%);
        transform: scale(1.01);
    }
}

.divider {
    margin: 30px auto;
    width: 150px;
    height: 5px;
    background-color: $main-color;
}

.background__video {
    max-width: 1300px;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(0.7);
    overflow:hidden;
  }

.pageup{
    left: 50%;
    transform: translateX(-50%);
    display: none;
    position: fixed;
    bottom: 20px;
    width: 60px;
    height: 60px;
    svg{
        fill: #fff;
        width: 100%;
    }
    z-index: 5;
    }

.txtme_chat-wrapper{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

@import 'blocks/head';
@import 'blocks/about';
@import 'blocks/target';
@import 'blocks/technologies';
@import 'blocks/contacts';
@import 'blocks/forms';
@import 'blocks/modal';