.bio{
    min-width: 100%;
    padding-top: 58px;
    position: relative;
    background-color: #666eff;
    z-index: 2;
    &__subtitle{
        text-align: center;
		&:before{
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__title{
        padding-top: 40px;
        text-align: center;
    }
    &__investigation{
        &-text{
			font-size: 30px;
			line-height: 35px;
			text-align: center;
            margin-top: 20px;
        }
    }
	&__button-wrapper{
		padding-bottom: 40px;
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}
}